<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 门店表的映射文件	namespace值为对应接口的全路径 -->
<mapper namespace="com.lining.dao.DoorMapper">
	
	<!-- 1.查询所有门店信息，id值为对应接口中方法的名字
		resultType指定将查询的结果封装到哪个pojo对象中
	 -->
	<select id="findAll" resultType="com.lining.pojo.Door">
		select * from tb_door
	</select>
	
	

</mapper>